/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .top-wrapper h1 {
        font-size: 32px;
    }

    .heading h2 {
        font-size: 20px;
    }

    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }

    .input {
        width: 80%;
    }

    .btn {
        width: 80%;
        margin-right: unset;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .top-wrapper .container img {
        display: none;
    }

    .header-right {
        display: none;
    }

    span.menu-icon {
        display: block;
    }

    .btn {
        /* width: 100%; */
        margin: 0 20px;
    }



    .facebook {
        margin-bottom: 10px;
    }

    .top-wrapper {
        text-align: left;
    }

    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }

    .lesson {
        width: 100%;
    }

    footer {
        text-align: center;
    }
}